:root{
    --bs-mainColour: #ac0d31;
    --bs-secondaryColour: #e1dfd8;
    --bs-tertiaryColour: #f25d29;
    --bs-quaternaryColour: #ECCB51;
    --bs-redColour: #f12527;
}

body{ 
    background: radial-gradient(circle, hsla(0, 81%, 55%, 1) 0%, hsla(0, 0%, 3%, 1) 100%);
}

.bgImg{
    background-image: url("../images/backgroundImg8_2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    padding: 60px 41px 105px 41px;
}

@font-face {
    font-family: 'ButterflyKids';
    src: local('ButterflyKids'), url(../font/ButterflyKids-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'DancingScriptBold';
    src: local('DancingScriptBold'), url(../font/DancingScript-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'CaveatBold';
    src: local('CaveatBold'), url(../font/Caveat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'CaveatRegular';
    src: local('CaveatRegular'), url(../font/Caveat-Regular.ttf) format('truetype');
}

h1{
    font-family: 'DancingScriptBold';
    color: var(--bs-quaternaryColour);
}

h2{
    font-family: 'CaveatBold';
    color: white;
}

hr{
    opacity: 1 !important;
    border-width: medium;
    color: var(--bs-quaternaryColour);
}

.spanFont{
    font-family: 'CaveatRegular';
    font-size: 1.5em;
    color: white;
}

.mainBgColour{
    background-color: var(--bs-mainColour);
}

.secondaryBgColour{
    background-color: var(--bs-secondaryColour);
}

.tertiaryBgColour{
    background-color: var(--bs-tertiaryColour);
}

.quaternaryBgColour{
    background-color: var(--bs-quaternaryColour);
}

.mainFontColor{
    color: var(--bs-mainColour)
}

.secondaryFontColor{
    color: var(--bs-secondaryColour)
}

.secondaryFontColor{
    color: var(--bs-secondaryColour)
}

.tertiaryFontColor{
    color: var(--bs-tertiaryColour)
}

.quarternaryFontColor{
    color: var(--bs-quarternaryColour)
}

#nav-link >a.active{
    border-bottom: solid 2px var(--bs-quaternaryColour);
}

@media (min-width: 576px) {
    .w-sm-50{
        width: 50% !important;
    }
    .w-sm-25{
        width: 25% !important;
    }
    .min-sm-250{
        min-width: 250px;
    }
    .max-sm-250{
        max-width: 250px;
    }
 }

.lg-react-element {
    display: flex !important;
    flex-wrap: wrap !important;
}

.lg-video-cont  {
    width: 70% !important;
    height: 100% !important;
    position: absolute;
    top: 38%;
    left: 15%;
}

.addGuestBtn{
    background-color: #efb739;
    border-color:#ac0d31;
}

.swal2-input-label{
    padding: 1em !important;
}

.swal2-icon .swal2-success .swal2-icon-show {
    width: 88px !important;
    height: 88px !important;
}
  
.swal2-icon .swal2-success .placeholder {
    width: 88px !important;
    height: 88px !important;
}